<!DOCTYPE html>
<html lang="en">

<head>
  <title>Panel Administrador</title>
  <!-- Link Styles -->
  <link rel="stylesheet" href="../../public/css/style.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-1">
        <div class="sidebar">
          <div class="logo_details">
            <i class="bx bxl-audible icon"></i>
            <div class="logo_name">Papeleria</div>
            <i class="bx bx-menu" id="btn"></i>
          </div>
          <ul class="nav-list">
            <div class="sidebar">
              <div class="logo_details">
                <i class="bx bxl-audible icon"></i>
                <div class="logo_name">Papeleria</div>
                <i class="bx bx-menu" id="btn"></i>
              </div>
              <ul class="nav-list">
                <li>
                  <i class="bx bx-search"></i>
                  <input type="text" placeholder="Search...">
                  <span class="tooltip">Search</span>
                </li>
                <li>
                  <a href="#" id="usuarios">
                    <i class="material-icons">person</i>
                    <span class="link_name">Usuarios</span>
                  </a>
                  <span class="tooltip">Usuarios</span>
                </li>
                <li>
                  <a href="#" id="getProductos">
                    <i class="material-icons">inventory_2</i>
                    <span class="link_name">Productos</span>
                  </a>
                  <span class="tooltip">Productos</span>
                </li>
                <li>
                  <a href="#" id="ventas">
                    <i class="material-icons">point_of_sale</i>
                    <span class="link_name">Ventas</span>
                  </a>
                  <span class="tooltip">Ventas</span>
                </li>
                <li>
                  <a href="#">
                    <i class="material-icons">location_on</i>
                    <span class="link_name">Direcciones</span>
                  </a>
                  <span class="tooltip">Direcciones</span>
                </li>
                <li>
                  <a href="#" id="idRol">
                    <i class="material-icons">groups</i>
                    <span class="link_name">Roles</span>
                  </a>
                  <span class="tooltip">Roles</span>
                </li>
                <li>
                  <a href="#" id="idEnvio">
                    <i class="material-icons">local_shipping</i>
                    <span class="link_name">Envios</span>
                  </a>
                  <span class="tooltip">Envios</span>
                </li>
                <li>
                  <a href="#" id="categoria">
                    <i class="bx bx-cog"></i>
                    <span class="link_name">Categorias</span>
                  </a>
                  <span class="tooltip">Categorias</span>
                </li>
                <li>
                  <a href="#" id="idColor">
                    <i class="material-icons">palette</i>
                    <span class="link_name">Color</span>
                  </a>
                  <span class="tooltip">Color</span>
                </li>
                <li class="profile">
                  <div class="profile_details">
                    <img src="" alt="profile image">
                    <div class="profile_content">
                      <div class="name">Anna Jhon</div>
                      <div class="designation">Admin</div>
                    </div>
                  </div>
                  <i class="bx bx-log-out" id="log_out"></i>
                </li>
              </ul>
            </div>
          </ul>
        </div>
      </div>
      
      <div class="col-md-11 mt-4">
        <div id="tableContainer"></div>
      </div>
      
    </div>
  </div>

  <!-- Scripts -->
  <script src="/js/script.js"></script>
  <script src="/js/ventas.js"></script>
  <script src="/js/producto.js"></script>
  <script src="/js/categoria.js"></script>
  <script src="/js/rol.js"></script>
  <script src="/js/envio.js"></script>
  <script src="/js/color.js"></script>
</body>

</html>